body{
    margin-left: 30%;
    text-align: center;
    background-color: rgb(222, 244, 155);
    max-width: 40%;
}
h1{
    margin: 10%;
    font-size: 350%;
   color: rgb(239, 163, 163); 
   text-decoration: dashed black;
}
#name,#email,#password {
    padding: 2% 4%;
    border-radius: 50%;
    font-size: 150%;
}
#name,#email,#password::placeholder{
    text-align: center;
}

button{
    padding: 3px 12px;
    margin: 5%;
    font-size: 20px;
    background-color: rgb(44, 209, 44);
    border-radius: 25%;
}






